@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
h3 {
  font-size: 25px;
  font-weight: 350;
  padding-top: 0px;
}

body {
  font-family: "Dosis", sans-serif;
}

.card {
  position: fixed;
  top: 80px;
  left: 250px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.card-body {
  padding: 0.25rem;
}

.searchbar {
  width: 150px;
  height: 40px;
  margin: 5px;
  border-width: 3px;
  border-radius: 5px;
}

.btn-primary {
  background: #328da8;
  border-color: blueviolet;
}

.alert {
  width: 200px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  background-color: #eef0fa;
  border-color: #eef0fa;
  color: #596aca;
  left: 10px;
  font-size: larger;
}

.city {
  position: relative;
  color: #42a5f5;
  font-size: 65px;
  left: 60px;
}

.big-icon {
  position: relative;
  left: 40px;
  height: 159px;
  top: -20px;
}

.temperature {
  position: relative;
  color: #265173;
  font-size: 85px;
  left: 50px;
}

.units {
  font-size: 64px;
}

.weather-info {
  position: relative;
  left: 450px;
  top: -170px;
  height: 145px;
  border: 1px solid;
  border-color: #98dcd9;
  border-radius: 5px;
  background-color: #e4f6f5;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #5173c6;
  padding-left: 10px;
}

.forecast {
  position: relative;
  left: 24px;
  top: -135px;
  height: 25px;
  border: 3px solid;
  border-color: transparent;
  border-radius: 10px;
  padding: 10px 20px;
}

.row-forecast {
  padding: 0px;
}

.days {
  top: 450px;
  left: 50px;
  border: 1px solid;
  border-color: whitesmoke;
  border-radius: 3px;
  height: 170px;
  text-align: center;
  margin: 5px;
  padding: 0px;
  color: #42a5f5;
  font-size: 24px;
}

.forecast-temp {
  color: #5a6275;
  font-size: 25px;
}

.fa-sun {
  color: #ffb200;
}

.fa-cloud {
  color: #efeded;
}

.fa-cloud-sun {
  color: #efeded;
}

#celcius-temp,
#fahrenheit-temp {
  font-size: 30px;
  position: relative;
  top: -30px;
  left: 55px;
}

#description {
  text-transform: capitalize;
}

a:hover {
  text-decoration: none;
}

p {
  position: absolute;
  left: 250px;
  top: 640px;
}
